@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

.font-size-8 {
    font-size: 8px
}

.font-size-10 {
    font-size: 10px
}

.font-size-11 {
    font-size: 11px
}

.font-size-12 {
    font-size: 12px
}

.font-size-13 {
    font-size: 13px
}

.font-size-14 {
    font-size: 14px
}

.font-size-15 {
    font-size: 15px
}

.font-size-16 {
    font-size: 16px
}

.font-size-17 {
    font-size: 17px
}

.font-size-18 {
    font-size: 18px
}

.font-size-19 {
    font-size: 19px
}

.font-size-20 {
    font-size: 20px
}

.font-size-21 {
    font-size: 21px
}

.font-size-22 {
    font-size: 22px
}

.font-size-24 {
    font-size: 24px
}

.font-size-26 {
    font-size: 26px
}

.font-size-28 {
    font-size: 28px
}

.font-size-30 {
    font-size: 30px
}

.font-size-32 {
    font-size: 32px
}

.font-size-34 {
    font-size: 34px
}

.font-size-36 {
    font-size: 36px
}

.font-size-38 {
    font-size: 38px
}

.font-size-40 {
    font-size: 40px
}

.font-size-42 {
    font-size: 42px
}

.font-size-52 {
    font-size: 52px
}

.fw-100 {
    font-weight: 100
}

.fw-200 {
    font-weight: 200
}

.fw-300,
.normal {
    font-weight: 300
}

.fw-400,
.medium {
    font-weight: 400
}

.fw-500,
.semi-bold {
    font-weight: 500
}

.bold,
.fw-600 {
    font-weight: 600
}

.fw-700 {
    font-weight: 700
}

.fw-800 {
    font-weight: 800
}

.extra-bold,
.fw-900 {
    font-weight: 900
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.text-last-left {
    -moz-text-align-last: left;
    text-align-last: left
}

.text-last-center {
    -moz-text-align-last: center;
    text-align-last: center
}

.text-last-right {
    -moz-text-align-last: right;
    text-align-last: right
}

.text-last-justify {
    -moz-text-align-last: justify;
    text-align-last: justify
}

.d-flex {
    display: flex
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-space-between {
    justify-content: space-between
}

.justify-space-around {
    justify-content: space-around
}

.justify-space-evenly {
    justify-content: space-evenly
}

.align-start {
    align-items: flex-start
}

.align-end {
    align-items: flex-end
}

.align-center {
    align-items: center
}

@keyframes bullet {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes height {
    from {
        transform: scaleY(0) scaleX(1)
    }

    to {
        transform: scaleY(1) scaleX(1)
    }
}

@keyframes width {
    from {
        transform: scaleX(0) scaleY(1)
    }

    to {
        transform: scaleX(1) scaleY(1)
    }
}

@keyframes perspective {
    from {
        transform: perspective(1125px) translate3d(0, 0, 0) rotateX(0) scale(2)
    }

    to {
        transform: perspective(1125px) translate3d(0, 0, -275px) rotateX(39deg) scale(1)
    }
}

@keyframes scale {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

html {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    overflow-y: hidden;
    scroll-behavior: smooth
}

a {
    text-decoration: none
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .container {
        width: 80%
    }
}

.homepage-slider-block {
    margin: 60px;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px
}

.homepage-slider-block .homepage-banner {
    width: 50%;
    height: 100%;
    background-color: #fff
}

#grainy-filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    filter: contrast(100%) brightness(0) invert(100%)
}

#grainy-filter svg {
    position: absolute;
    left: 0;
    top: 0
}

#smooth-wrapper {
    z-index: 2
}

.page-container {
    position: relative;
    z-index: 3
}

.magnetic-btn {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 350ms ease-in-out
}

.magnetic-btn:hover {
    background-position: 0;
    color: #000;
    transition: all .3s
}

.magnetic-btn:hover svg path {
    fill: #000;
    stroke: #000
}

.magnetic-btn svg {
    height: 50px;
    width: 50px;
    margin-bottom: 4px
}

.title-block {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .title-block {
        font-size: 38px;
        line-height: 44px
    }
}

.title-block .part {
    font-weight: 300;
    color: #a1a1a1
}

.title-block-main {
    font-family: Poppins, sans-serif;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400
}

.separator {
    width: 120px;
    height: 1px;
    background-color: #5e5e5e;
    margin: 40px 0 40px 80px;
    content: " ";
    display: block
}

.banner-block {
    margin: 120px auto 0 auto;
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

.banner-block .banner-title {
    margin-bottom: 40px
}

.banner-block .banner-title .homepage-title_1,
.banner-block .banner-title .homepage-title_2 {
    opacity: 0
}

.banner-block .banner-title h2 {
    font-family: Poppins, sans-serif;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .banner-block .banner-title h2 {
        font-size: 50px;
        line-height: 54px
    }
}

.banner-block .banner-desc {
    opacity: 0
}

.banner-block .banner-desc p {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 200;
    max-width: 250px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .banner-block .banner-desc p {
        font-size: 16px;
        line-height: 20px
    }
}

.banner-block .show-works-bloc {
    width: 100%;
    display: none;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 150px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .banner-block .show-works-bloc {
        position: initial;
        justify-content: flex-start;
        margin-top: 20px
    }
}

.banner-block .show-works-bloc a {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 350ms ease-in-out
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .banner-block .show-works-bloc a {
        width: auto;
        height: auto;
        border: none;
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding: 0
    }
}

.banner-block .show-works-bloc a:hover {
    background-position: 0;
    color: #000;
    transition: all .3s
}

.banner-block .show-works-bloc a:hover svg path {
    fill: #000;
    stroke: #000
}

.banner-block .show-works-bloc a svg {
    height: 50px;
    width: 50px;
    margin-bottom: 4px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .banner-block .show-works-bloc a svg {
        transform: rotate(45deg);
        height: 18px;
        width: 18px;
        margin-bottom: -4px;
        margin-left: 4px
    }
}

.banner-block .presentation-slider {
    position: relative;
    height: 180px;
    overflow: hidden
}

.banner-block .presentation-slider .element {
    width: 50%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0
}

.banner-block .presentation-slider .element:not(:first-child) {
    top: -110%;
    display: none
}

.banner-block .presentation-slider .element .top h3 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 300
}

.banner-block .presentation-slider .element .top h2 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: 400
}

.banner-block .presentation-slider .element .bottom {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    font-family: Poppins, sans-serif
}

.banner-block .presentation-slider .element .bottom p {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 2px 2px #000
}

.banner-block .presentation-slider .element .bottom a {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px
}

.banner-block .change-slide {
    margin-bottom: 20px;
    display: flex;
    font-family: Poppins, sans-serif
}

.banner-block .change-slide span {
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-weight: 400
}

.banner-block .change-slide span:first-child {
    margin-right: 2px
}

.short-presentation-bloc {
    background: linear-gradient(180deg, rgba(215, 211, 199, 0) 0, #000 200px);
    padding: 550px 0 400px 0
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .short-presentation-bloc {
        padding: 250px 0 100px 0
    }
}

.short-presentation-bloc .short-presentation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch
}

.short-presentation-bloc .short-presentation-container .content {
    width: 70%;
    position: relative;
    padding-bottom: 120px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .short-presentation-bloc .short-presentation-container .content {
        width: 100%
    }
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .short-presentation-bloc .short-presentation-container .content {
        width: 100%
    }
}

.short-presentation-bloc .short-presentation-container .content .text {
    width: 100%;
    max-width: 450px;
    padding: 0 10px
}

.short-presentation-bloc .short-presentation-container .content .text .line:not(:first-child) {
    margin-top: 10px
}

.short-presentation-bloc .short-presentation-container .content .text p {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px
}

.short-presentation-bloc .short-presentation-container .content .text p:not(:first-child) {
    margin-top: 10px
}

.short-presentation-bloc .short-presentation-container .content .show-services-bloc {
    position: absolute;
    bottom: 0;
    left: 510px
}

.short-presentation-bloc .short-presentation-container .cursor-attractor {
    width: 25%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .short-presentation-bloc .short-presentation-container .cursor-attractor {
        display: none
    }
}

.presentation {
    background: linear-gradient(180deg, rgba(215, 211, 199, 0) 0, #000 200px);
    padding-top: 200px
}

.presentation .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.presentation .presentation-content {
    margin-top: 200px
}

.presentation .presentation-content.w-60 {
    width: 60%
}

.presentation .presentation-content.w-70 {
    width: 70%
}

.presentation .presentation-content.w-80 {
    width: 80%
}

.presentation .presentation-content.w-90 {
    width: 90%
}

.presentation .presentation-content.w-100 {
    width: 100%
}

.presentation .presentation-content h2 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400
}

.presentation .presentation-content .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.presentation .presentation-content .text .column {
    width: 100%;
    max-width: 450px;
    padding: 0 10px
}

.presentation .presentation-content .text .column p {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px
}

.presentation .presentation-content .text .column p:not(:first-child) {
    margin-top: 10px
}

.presentation .presentation-content.presentation-content-sub {
    margin-top: 100px
}

.presentation .presentation-content.presentation-content-sub h2 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400
}

.port-folio {
    background: #000
}

.port-folio.technical {
    padding-top: 300px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .port-folio.technical {
        padding-top: 220px
    }
}

.port-folio .bloc-header {
    margin-bottom: 100px
}

.port-folio .products-line {
    display: flex;
    width: 80%;
    margin-left: 20%;
    gap: 100px;
    justify-content: space-between
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .port-folio .products-line {
        width: 100%;
        margin-left: 0;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 100px
    }
}

.port-folio .products-line .product {
    width: 45%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .port-folio .products-line .product {
        width: 100%
    }
}

.port-folio .products-line .product:hover .image .hover-btn {
    opacity: 1
}

.port-folio .products-line .product:not(:first-child) {
    margin-top: 250px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .port-folio .products-line .product:not(:first-child) {
        margin-top: 100px
    }
}

.port-folio .products-line .product .image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.port-folio .products-line .product .image .hover-btn {
    position: absolute;
    height: 70px;
    width: 70px;
    right: -20px;
    bottom: -20px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s
}

.port-folio .products-line .product .image .hover-btn svg {
    width: 30px;
    height: 30px
}

.port-folio .products-line .product .image img {
    width: 100%
}

.port-folio .products-line .product .title {
    margin-top: 30px
}

.port-folio .products-line .product .title h3 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400
}

.port-folio .products-line .product .title .skills {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    display: inline;
    color: #a1a1a1;
    font-weight: 300
}

.port-folio .technical-listing {
    width: 80%;
    margin-left: 20%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .port-folio .technical-listing {
        width: 100%;
        margin-left: 0
    }
}

.port-folio .technical-listing ul li {
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding: 24px 10px;
    width: 100%;
    border-top: 1px solid #a1a1a1
}

.port-folio .technical-listing ul li:is(:last-child) {
    border-bottom: 1px solid #a1a1a1
}

.services-block {
    background: #000;
    padding-top: 400px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .services-block {
        padding-top: 220px
    }
}

.services-block .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .services-block .container {
        flex-direction: column;
        justify-content: flex-start
    }
}

.services-block .container .bloc-header {
    width: 20%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .services-block .container .bloc-header {
        width: 100%
    }
}

.services-block .container .bloc-header .separator {
    margin-left: 0
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .services-block .container .bloc-header .contact-btn {
        display: none
    }
}

.services-block .container .services {
    width: 60%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .services-block .container .services {
        width: 100%
    }
}

.services-block .container .services .service:not(:first-child) {
    margin-top: 60px
}

.services-block .container .services .service .title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px
}

.services-block .container .services .service .content p {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 200
}

.services-block .container .services .service .content p:not(:first-child) {
    margin-top: 10px
}

.worked-with-block {
    padding: 200px 0
}

.worked-with-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.worked-with-block .container .title {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400
}

.worked-with-block .container .listing img {
    max-width: 150px;
    height: auto;
    filter: grayscale(100%)
}

.worked-with-block .container .listing img.invert {
    filter: invert(1) grayscale(100%)
}

.contact-block {
    padding: 350px 0;
    background-color: #000
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block {
        padding: 220px 0
    }
}

.contact-block .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end
    }
}

.contact-block .contact-desc {
    width: 70%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-desc {
        width: 100%
    }
}

.contact-block .contact-desc p {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 300;
    max-width: 770px
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-desc p {
        font-size: 38px;
        line-height: 44px;
        max-width: 100%
    }
}

.contact-block .contact-desc p .italic {
    font-weight: 400
}

.contact-block .contact-details {
    width: 20%
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-details {
        margin-top: 50px;
        width: 100%
    }
}

.contact-block .contact-details .contact-part {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-details .contact-part {
        align-items: flex-start
    }
}

.contact-block .contact-details .contact-part:not(:first-child) {
    margin-top: 50px
}

.contact-block .contact-details .contact-part .title {
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #a1a1a1;
    text-align: right
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-details .contact-part .title {
        text-align: left
    }
}

.contact-block .contact-details .contact-part .data {
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #fff;
    text-align: right
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .contact-block .contact-details .contact-part .data {
        text-align: left
    }
}

.contact-block .contact-details .contact-part .data a {
    color: #fff;
    text-decoration: none
}

.contact-block .contact-details .contact-part .data a img {
    width: 20px;
    height: auto;
    background-color: #000
}

.cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity .3s, color .4s
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .cb-cursor {
        display: none
    }
}

.cb-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0);
    background: currentColor;
    border-radius: 50%;
    transition: transform .3s ease-in-out, opacity .1s
}

.cb-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -.01em;
    transition: opacity .4s, transform .3s
}

@supports (mix-blend-mode:exclusion) {

    .cb-cursor.-exclusion,
    .cb-cursor.-opaque {
        mix-blend-mode: exclusion
    }
}

@supports (mix-blend-mode:exclusion) {

    .cb-cursor.-exclusion:before,
    .cb-cursor.-opaque:before {
        filter: grayscale(100%);
        background: #fff
    }
}

.cb-cursor.-normal,
.cb-cursor.-text {
    mix-blend-mode: normal
}

.cb-cursor.-normal:before,
.cb-cursor.-text:before {
    background: currentColor
}

.cb-cursor.-inverse {
    color: #fff
}

.cb-cursor.-visible:before {
    transform: scale(.2)
}

.cb-cursor.-visible.-active:before {
    transform: scale(.23);
    transition-duration: .2s
}

.cb-cursor.-pointer:before {
    transform: scale(.15)
}

.cb-cursor.-text:before {
    opacity: .85;
    transform: scale(1.7)
}

.cb-cursor.-text .cb-cursor-text {
    opacity: 1;
    transform: scale(1)
}

.cb-cursor.-text.-active:before {
    transform: scale(1.6);
    transition-duration: .2s
}

.cb-cursor.-opaque:before {
    transform: scale(1)
}

.cb-cursor.-opaque.-active:before {
    transform: scale(1.2)
}

.cb-cursor.-lg:before {
    transform: scale(2)
}

.cb-cursor.-hidden:before {
    transform: scale(0)
}

.cb-cursor.sizeLink:before {
    transform: scale(1.5) !important
}

.cb-cursor.sizeProductLink:before {
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' viewBox='0 0 65 65'%3E%3Cpath d='M49.462 1V35.055H45.679V7.451L6.651 46.4 3.976 43.726 43 4.78H15.321V1z' transform='rotate(-45deg)' fill='%23fff' stroke='%23fff'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    transform: scale(3) !important
}

.cb-cursor.blurCursor:before {
    transform: scale(3);
    filter: blur(50px)
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 3;
    padding: 50px 50px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 92%)
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .header-nav {
        padding: 40px 20px 0
    }
}

.header-nav #logo {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 400
}

.header-nav #logo #weight-more {
    font-weight: 600
}

.header-nav #logo .extension {
    font-style: italic;
    font-weight: 200
}

.header-nav #contact-btn {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    cursor: pointer
}

.header-nav #contact-btn svg {
    height: 18px;
    width: 18px;
    margin: 0 0 5px 5px;
    transform: rotate(45deg);
    transition: all .3s
}

.header-nav #contact-btn:hover svg {
    transform: rotate(225deg)
}

.header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 92%)
}

.header #logo {
    cursor: pointer;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.header .logo-container {
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.header .logo-container h1 {
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: .8;
    z-index: 2
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 300
}

.header a:not(:first-child),
.header a:not(:last-child) {
    margin: 0 30px
}

.scene {
    perspective: 400vmin;
    transform-style: preserve-3d;
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    top: 10vmin;
    left: 10vmin
}

.sphere {
    transform-style: preserve-3d;
    position: absolute;
    animation: rotate 20s infinite linear;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    top: 0;
    left: 0
}

.scene::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateZ(2vmin)
}

.hemisphere {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(90deg)
}

.hemisphere:nth-child(2) {
    transform: rotateX(-90deg)
}

.face {
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 49%, #fff 50%, rgba(0, 0, 0, 0) 51%);
    transform-style: preserve-3d;
    transform-origin: 50% 0;
    top: 50%;
    left: 20vmin
}

.face::after {
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    background: rgba(0, 0, 0, .2);
    transform: translateZ(2.8vmin)
}

.face:nth-child(1) {
    transform: translateZ(-41.6vmin) rotateZ(36deg) translateY(-6.8vmin) rotateX(143deg)
}

.face:nth-child(2) {
    transform: translateZ(-41.6vmin) rotateZ(108deg) translateY(-6.8vmin) rotateX(143deg)
}

.face:nth-child(3) {
    transform: translateZ(-41.6vmin) rotateZ(180deg) translateY(-6.8vmin) rotateX(143deg)
}

.face:nth-child(4) {
    transform: translateZ(-41.6vmin) rotateZ(252deg) translateY(-6.8vmin) rotateX(143deg)
}

.face:nth-child(5) {
    transform: translateZ(-41.6vmin) rotateZ(-36deg) translateY(-6.8vmin) rotateX(143deg)
}

.face:nth-child(6) {
    transform: translateZ(-26.8vmin) rotateZ(36deg) translateY(-33.2vmin) rotateX(100deg)
}

.face:nth-child(7) {
    transform: translateZ(-26.8vmin) rotateZ(108deg) translateY(-33.2vmin) rotateX(100deg)
}

.face:nth-child(8) {
    transform: translateZ(-26.8vmin) rotateZ(180deg) translateY(-33.2vmin) rotateX(100deg)
}

.face:nth-child(9) {
    transform: translateZ(-26.8vmin) rotateZ(252deg) translateY(-33.2vmin) rotateX(100deg)
}

.face:nth-child(10) {
    transform: translateZ(-26.8vmin) rotateZ(-36deg) translateY(-33.2vmin) rotateX(100deg)
}

.face:nth-child(11) {
    transform: translateZ(-26.8vmin) rotateZ(36deg) translateY(-33.2vmin) rotateX(100deg)
}

@keyframes rotate {
    0% {
        transform: rotateX(0)
    }

    50% {
        transform: rotateX(180deg)
    }

    100% {
        transform: rotateX(360deg)
    }
}

body {
    background: #000;
    overflow: hidden
}

.homepage-banner-map {
    background-color: #000;
    position: fixed;
    z-index: 1;
    width: 200vw;
    height: 250vh;
    left: -50vw;
    top: -90vh;
    overflow-x: hidden;
    transform: scale(2);
    opacity: .4
}

.homepage-banner-map span {
    position: absolute;
    background-color: #fff
}

.homepage-banner-map span.line-map-height {
    top: 0;
    bottom: 0;
    width: 2px;
    opacity: .2;
    animation: height 2s forwards;
    transform-origin: bottom
}

.homepage-banner-map span.line-map-width {
    left: 0;
    right: 0;
    height: 2px;
    opacity: .2;
    animation: width 2s forwards
}

.homepage-banner-map span.main-bullet {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0 0
}

.homepage-banner-map span.main-bullet:after {
    content: "";
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #858585;
    opacity: .8;
    position: absolute;
    animation: scale 2s forwards
}

.homepage-banner-map span.main-line-width {
    width: 2px;
    background-color: #858585
}

@media only screen and (min-width:0px) and (max-width:900px) {
    .homepage-banner-map span.main-line-width {
        display: none
    }
}

#home-banner-js {
    background-size: 2% 2%;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 75vh auto 0 auto
}

#home-banner-js span {
    position: absolute;
    background-color: #000
}

#home-banner-js span.bullet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: .4
}

@media only screen and (min-width:0px) and (max-width:900px) {
    #home-banner-js span.bullet {
        display: none
    }
}

#home-banner-js span.bullet.active {
    background-color: transparent;
    border: 2px solid #fff;
    animation: bullet 3s forwards
}

#home-banner-js span.bullet-debug {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid green;
    opacity: .2;
    background-color: transparent;
    transform: scale(1)
}

#home-banner-js span.debug-line-height {
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #fff;
    opacity: .2;
    position: absolute
}

#home-banner-js span.debug-line-width {
    right: 0;
    left: 0;
    height: 2px;
    background-color: #fff;
    opacity: .2;
    position: absolute
}

#home-banner-js span.line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent
}

@media only screen and (min-width:0px) and (max-width:900px) {
    #home-banner-js span.line {
        display: none
    }
}

#home-banner-js span.line.line-width::before {
    content: "";
    top: 13px;
    height: 2px;
    width: 100%;
    background-color: #858585
}

#home-banner-js span.line.line-width.right {
    justify-content: flex-end
}

#home-banner-js span.line.line-width.right::before {
    right: 0;
    justify-content: flex-start
}

#home-banner-js span.line.line-width.left {
    justify-content: flex-start
}

#home-banner-js span.line.line-width.left::before {
    left: 0
}

#home-banner-js span.line.line-width.half::before {
    width: calc(50% + 1px)
}

#home-banner-js span.line.line-height::before {
    content: "";
    left: 13px;
    width: 2px;
    height: 100%;
    background-color: #858585
}

#home-banner-js span.line.line-height.top {
    align-items: flex-end
}

#home-banner-js span.line.line-height.top::before {
    top: 0;
    align-items: flex-start
}

#home-banner-js span.line.line-height.bottom {
    align-items: flex-start
}

#home-banner-js span.line.line-height.bottom::before {
    bottom: 0
}

#home-banner-js span.line.line-height.half::before {
    height: calc(50% + 1px)
}